#!/usr/bin/make -f

export PYBUILD_NAME=python-pytest-flake8
export PYBUILD_BEFORE_TEST={interpreter} setup.py egg_info
export PYBUILD_AFTER_TEST=rm -rf {dir}/*.egg-info

%:
	dh $@ --with python3 --buildsystem=pybuild
